.customNavColor {
    background-color: white;
}

#logoColor {
    color: black;
}

#mobile-menu{
    color: black;
}

.listText {
    color: black;
}

#copy-text {
    cursor: pointer
}

.totem {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    box-shadow: 0 0 10px lightgrey;
}